<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/Responsive-3-coloumns.css">
</head>
<body>
  <section class="container">
    <div class="coloumns">
      
      <h2>Most Popular Universities</h2>
        <p> <a href="##">Biju Pattanaik University of Technology</a> </p>
        <p><a href="##">Kalinga Institute of Technology</a></p>
        <p><a href="##">Veltech University</a></p>
        <p><a href="##">Visvevaraya Technological University</a></p>
       
    </div>
    <div class="coloumns">

        <h2>Most Popular Books</h2>
        <a href="##">1st</a> </p>
        <a href="##">2nd</a> </p>
        <p><a href="##">3rd</a></p>
        <p><a href="##">4th</a></p>
       
    </div>
    <div class="coloumns">
        
        <h2>Most Popular Document</h2>
        <a href="##">1st:Document</a> </p>
        <a href="##">2nd:Document</a> </p>
        <p><a href="##">3rd:Document</a></p>
        <p><a href="##">4th:Document</a></p>
       
    
</section>
</body>
</html>