<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link href="card.css" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="card">
            <div class="card-images cs">
            </div>
            <h2>Computer Science</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam voluptas! Consequatur. </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images mech">
            </div>
            <h2>Mechanical</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam voluptas! Consequatur. </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images civil">
            </div>
            <h2>Civil</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam voluptas! Consequatur. </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images electrical">
            </div>
            <h2>Electrical</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam voluptas! Consequatur. </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images electronics">
            </div>
            <h2>Elctronics</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam voluptas! Consequatur. </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images ece">
            </div>
            <h2>Electrical and Communication</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis q </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images agriculture">
            </div>
            <h2>Agriculture</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam. </p>
            <a href="##">Read More</a>
        </div>
        <div class="card">
            <div class="card-images IT">
            </div>
            <h2>Information Technology</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus exercitationem reprehenderit veritatis quibusdam . </p>
            <a href="##">Read More</a>
        </div>
    </section>
</body>
</html>