<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/footer_style.css" class="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../static/css/testimonal.css">
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <footer>
    <div class="all-Footer">
        <section class="container-Footer">
            <div class="coloumns-Footer">
              
              <h2>Logic</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis accusamus neque.</p>
               
            </div>
            <div class="coloumns-Footer">
        
                <h2>Social</h2>
               <p> <a href="##"><i class="fab fa-facebook"></i>Facebook</a> </p>
               <p> <a href="##"><i class="fab fa-instagram"></i>Instagram</a> </p>
                <p><a href="##"><i class="fab fa-linkedin"></i>Linkedin</a></p>
                <p><a href="##"><i class="fab fa-twitter-square"></i>Twitter</a></p>
               
            </div>
            <div class="coloumns-Footer">
                
                <h2>Information</h2>
                <a href="##">Blog</a> </p>
                <a href="##">Pricing</a> </p>
                <p><a href="##">Sales</a></p>
            
        </div>
        <div class="coloumns-Footer">
                
            <h2>Seats</h2>
            <a href="##">Tickets</a> </p>
            <a href="##">Certification</a> </p>
            <p><a href="##">Coustomer Service</a></p>
        
        </div>
        <div class="coloumns-Footer">
                
            <h2>Legal</h2>
            <a href="##">Privacy Policy</a> </p>
            <a href="##">Terms of Use</a> </p>
            <p><a href="##">Contact</a></p>
        
        </div>
    
        </section>
        <h1>All rights reserved by ©CompanyName 2020 </h1>
    </div>
</footer>
</body>
</html>