<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="../static/css/Responsive-Sidebar.css">
  <link rel="stylesheet" href="../static/css/Responsive-Searchbar.css">
  <link rel="stylesheet" href="../static/css/Responsive-Response.css">
  <link rel="stylesheet" href="../static/css/Responsive-3-coloumns.css">
  <link rel="stylesheet" href="../static/css/Responsive-Details.css">
  <link rel="stylesheet" href="../static/css/Responsive-Footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../static/css/testimonal.css">
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
 <!-- Sidebar's code starts from here -->
 
 <div class="menu-btn">
  <span class="menu-btn-icon"><i class="fas fa-bars"></i></span>
  Website name
  <a href="#" class="sign_in">Sign in</a>
  <a href="#" class="register">Register</a>
  <a class="user"> <i class="fas fa-user fa-2x"></i></a>
</div>
<div class="side-bar">
  <div class="name"> Website name</div>
  <div class="close-btn">
    <i class="fas fa-times"></i>
  </div>
  <div class="menu">
    <div class="login"><a href="#" class="signup">Sign in</a><a href="#" class="signin">Register</button></a></div>
    <div class="item" id="element1">
      <a class="sub-btn"><i class="fas fa-table"></i>Home</a>
    </div>
    <div class="item">
      <div class="section"> My Library</div>
      <a class="sub-btn"><i class="fas fa-table"></i>Tables1<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
        <a href="#" class="sub-item">Sub Item 03</a>
        <a href="#" class="sub-item">Sub Item 03</a>
        <a href="#" class="sub-item">Sub Item 03</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>Tables2<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>Tables3<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>Tables4<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <div class="section">Discovery</div>
      <a class="sub-btn"><i class="fas fa-table"></i>Tables5<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>Tables6<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>Tables7<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>Tables8<i class="fas fa-angle-right dropdown" id="icon"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
      </div>
    </div>
  </div>
</div>
 <!-- Sidebar's code ends here-->
 <!-- Searchbar's code starts here-->
<section class="main">
  <div class="wrapper">
    <div class="search-input">
      <a href="" target="_blank" hidden></a>
      <input type="text" placeholder="Type to search..">
      <div class="autocom-box">
        <!-- here list are inserted from javascript -->
      </div>
      <div class="icon"><i class="fas fa-search"></i></div>
    </div>
  </div>
  </section>
         <!-- Searcbar's code ends here -->
           <!-- 3-coloumns Starts from here -->
  <section class="container">
    <div class="coloumns">
      
      <h2>Most Popular Universities</h2>
        <p> <a href="##">Biju Pattanaik University of Technology</a> </p>
        <p><a href="##">Kalinga Institute of Technology</a></p>
        <p><a href="##">Veltech University</a></p>
        <p><a href="##">Visvevaraya Technological University</a></p>
       
    </div>
    <div class="coloumns">

        <h2>Most Popular Books</h2>
        <a href="##">1st</a> </p>
        <a href="##">2nd</a> </p>
        <p><a href="##">3rd</a></p>
        <p><a href="##">4th</a></p>
       
    </div>
    <div class="coloumns">
        
        <h2>Most Popular Document</h2>
        <a href="##">1st:Document</a> </p>
        <a href="##">2nd:Document</a> </p>
        <p><a href="##">3rd:Document</a></p>
        <p><a href="##">4th:Document</a></p>
       
    
</section>
    <!-- 3-coloumn's code ends here -->
   <!-- Call to action's(Response count) code starts from here -->
<section class="Content">
  <h1>You're in good company</h1>
  <div class="Text">
      <p>Hundreds of thousands of students from around the world are already using this website to share their documents and improve their grades.</p>
  </div>
      <div class="container">
          <div class="box">
              <div class="icon"><img src="https://img.icons8.com/dusk/150/000000/university-campus.png"/></div>
              <div class="text">
                  <h3><a href="#">18,200</a></h3>
                  <p>Universities </p>
              </div>
          </div>
          <div class="box">
             <div class="icon"><img src="https://img.icons8.com/plasticine/150/000000/books.png"/></div>
             <div class="text">
                 <h3><a href="#">81,455</a></h3>
                 <p>Books</p>
             </div>
          </div>
          <div class="box">
             <div class="icon"><img src="https://img.icons8.com/dusk/150/000000/test-passed.png"/></div>
             <div class="text">
                 <h3><a href="#">6,70,300</a></h3>
                 <p>Exam questions</p>
             </div>
          </div>
      </div>
</section>
  <!-- Call of action(Response count) code ends here -->
   <!-- Call of action(Details) starts here -->
   <div class="heading-1"><h1>Everything you need to improve your grades</h1></div>
   <section class="container-1">
       <div class="coloumns-1">
           <div class="icon-1">
            <img
               src="https://img.icons8.com/pastel-glyph/50/26e07f/download-mail--v2.png" /></div>
           <h2>Free study resources </h2>
                       <p class="paragraph1-1">Download free study guides, summaries,
                           practice questions, lecture notes, assignments, solutions and much more! </p>
       </div>
       <div class="coloumns-1">
           <div class="icon-1"><img src="https://img.icons8.com/ios-filled/50/26e07f/star.png" /></div>
           <h2>Simply the best</h2>
           <p class="paragraph2"> All the documents have been rated by your  fellow students to
               maintain excellent quality.</p>
               </div>
       </div>
       <div class="coloumns-1">
           <div class="icon-1"><img
               src="https://img.icons8.com/material/50/26e07f/filled-appointment-reminders.png" />
       </div>
           <h2>Don’t miss out!</h2>
           <p class="paragraph3-1">We will keep you informed of the new documents that other students
               have uploaded for your course. </p>
          
           </div>
       </div>
       <div class="coloumns-1">
           <div class="icon-1"><img src="https://img.icons8.com/ios-filled/50/26e07f/ask-question.png" /></div>
           <h2>Ask questions, get answers</h2>
           <p class="paragraph4-1"> Can’t figure out the answer to a question? Ask for help and your
               fellow students will be glad to answer.</p>
           </div>
       </div>
       

   </section>
   <div class="Blue_Button-1">
       <center><button><a href="Get started">Get Started </a></button></center>
   </div>
    <!-- Call of action(Details) code ends here -->
    <!-- Testimonal's code starts here -->
    <div class="testimonial-section">
      <div class="inner-width">
        <h1>What Our Users Say</h1>
        <div class="testimonial-pics">
          <img src="../static/images/logo.jpeg" alt="test-1" class="active">
          <img src="../static/images/logo.jpeg" alt="test-2">
          <img src="../static/images/logo.jpeg" alt="test-3">
          <img src="../static/images/logo.jpeg" alt="test-4">
        </div>

        <div class="testimonial-contents">
          <div class="testimonial active" id="test-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">name / Developer</span>
          </div>

          <div class="testimonial" id="test-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elimet, consectetur adipisicing eli t. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">name / Developer</span>
          </div>

          <div class="testimonial" id="test-3">
            <p>Lorem  similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">name / Developer</span>
          </div>

          <div class="testimonial" id="test-4">
            <p>Lorem ipsum dolorng elit. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">name / Developer</span>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $('.testimonial-pics img').click(function(){
        $(".testimonial-pics img").removeClass("active");
        $(this).addClass("active");

        $(".testimonial").removeClass("active");
        $("#"+$(this).attr("alt")).addClass("active");
      });
    </script>
    <!-- Footer's  code ends here -->
     <!-- Footer's  code starts here -->
     <div class="all-Footer">
      <section class="container-Footer">
          <div class="coloumns-Footer">
            
            <h2>Logic</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis accusamus neque.</p>
             
          </div>
          <div class="coloumns-Footer">
      
              <h2>Social</h2>
             <p> <a href="##"><i class="fab fa-facebook"></i>Facebook</a> </p>
             <p> <a href="##"><i class="fab fa-instagram"></i>Instagram</a> </p>
              <p><a href="##"><i class="fab fa-linkedin"></i>Linkedin</a></p>
              <p><a href="##"><i class="fab fa-twitter-square"></i>Twitter</a></p>
             
          </div>
          <div class="coloumns-Footer">
              
              <h2>Information</h2>
              <a href="##">Blog</a> </p>
              <a href="##">Pricing</a> </p>
              <p><a href="##">Sales</a></p>
          
      </div>
      <div class="coloumns-Footer">
              
          <h2>Seats</h2>
          <a href="##">Tickets</a> </p>
          <a href="##">Certification</a> </p>
          <p><a href="##">Coustomer Service</a></p>
      
      </div>
      <div class="coloumns-Footer">
              
          <h2>Legal</h2>
          <a href="##">Privacy Policy</a> </p>
          <a href="##">Terms of Use</a> </p>
          <p><a href="##">Contact</a></p>
      
      </div>
  
      </section>
      <h1>All rights reserved by ©CompanyName 2020 </h1>
  </div>
 <!-- Footer's code ends here -->
<script src="../static/js/scrpt-suggestion.js"></script>
<script src="../static/js/Sidebar.js"></script>
<script src="../static/js/suggestions.js"></script>
  
</body>

</html>
