<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Responsive.response_count.css">
</head>
<body>
    <section class="Content">
        <h1>You're in good company</h1>
        <div class="Text">
            <p>Hundreds of thousands of students from around the world are already using this website to share their documents and improve their grades.</p>
        </div>
            <div class="container">
                <div class="box">
                    <div class="icon"><img src="https://img.icons8.com/dusk/150/000000/university-campus.png"/></div>
                    <div class="text">
                        <h3><a href="#">18,200</a></h3>
                        <p>Umiversities </p>
                    </div>
                </div>
                <div class="box">
                   <div class="icon"><img src="https://img.icons8.com/plasticine/150/000000/books.png"/></div>
                   <div class="text">
                       <h3><a href="#">81,455</a></h3>
                       <p>Books</p>
                   </div>
                </div>
                <div class="box">
                   <div class="icon"><img src="https://img.icons8.com/dusk/150/000000/test-passed.png"/></div>
                   <div class="text">
                       <h3><a href="#">6,70,300</a></h3>
                       <p>Exam questions</p>
                   </div>
                </div>
            </div>
    </section>
    
</body>
</html>