<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar</title>
  <link rel="stylesheet" href="../static/css/sidebar_responsive_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <div class="menu-btn">
    <span class="menu-btn-icon"><i class="fas fa-bars"></i></span>
    Website name
    <a href="#" class="sign_in">Sign in</a>
    <a href="#" class="register">Register</a>
    <a class="user"> <i class="fas fa-user fa-2x"></i></a>
  </div>
  <div class="side-bar">
    <div class="name"> Website name</div>
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="login"><a href="#" class="signup">Sign in</a><a href="#" class="signin">Register</button></a></div>
      <div class="item" id="element1">
        <a class="sub-btn"><i class="fas fa-table"></i>Home</a>
      </div>
      <div class="item">
        <div class="section"> My Library</div>
        <a class="sub-btn"><i class="fas fa-table"></i>Tables1<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
          <a href="#" class="sub-item">Sub Item 03</a>
          <a href="#" class="sub-item">Sub Item 03</a>
          <a href="#" class="sub-item">Sub Item 03</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Tables2<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Tables3<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Tables4<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <div class="section">Discovery</div>
        <a class="sub-btn"><i class="fas fa-table"></i>Tables5<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Tables6<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Tables7<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Tables8<i class="fas fa-angle-right dropdown" id="icon"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
          <a href="#" class="sub-item">Sub Item 03</a>
        </div>
      </div>
    </div>
  </div>

  <script src="../static/js/sidebar_script.js"></script>

</body>

</html>