.Content {
    position: relative;
    min-height: 30vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightgray;
}
.Content h1{
    font-size: 40px;
    color: #666;
}
.Content .Text {
    font-size: 20px;
    color: rebeccapurple;
    text-align: center;
    position: relative;
}
.container {
    display: flex;
    flex-direction: row;
}
.container .box {
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction:row;
}
.text h3{
    font-size: 40px;
    color: #666;
}
.text a{
    text-decoration: none;
}
.text p{
    font-size: 20px;
    padding-left: 20px;
}
.icon,.text{
    cursor: pointer;
}

